@{
    ViewBag.Title = "addClass";
    Layout = "~/Views/Shared/Teacher.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
         <b>Enter Name Of Class:</b>
        <form method="post" action="/teacher/classAdded">
        <input name="cname" placeholder="Class Name" type="text" />
        <input type="submit" value="create"/>
            </form>
    </div>
</body>
</html>

