@{
    ViewBag.Title = "assignmentadded";
    Layout = "~/Views/Shared/Teacher.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>login</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body><b>Added G :P</b></body>

</html>
