@{
    ViewBag.Title = "Teacher Facilitation System";
    Layout = "~/Views/Shared/Teacher.cshtml";
}
<html>
    <head>
    <title></title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

      </head>
    <body>
        <div>
            <a href="/teacher/addQuizName"><input type="submit" class="btn btn-success" value="add Quiz"/></a>

        
        <a href="/teacher/update"><input type="submit" class="btn btn-success" value="update Quiz"/></a>

        
        <a href="/teacher/view"><input type="submit" class="btn btn-success" value="View Quiz"/></a>

        
        <a href="/teacher/delete"><input type="submit" class="btn btn-success" value="delete Quiz"/></a>
</div></body></html>
