@{
    ViewBag.Title = "result";
    Layout = "~/Views/Shared/Teacher.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

   
</head>

    <body>
         <h2>Student's Marks In Quiz are @ViewBag.result</h2>
</body>
</html>
