@{
    ViewBag.Title = "SeeresulT";
    Layout = "~/Views/Shared/Teacher.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

   
</head>

   
  <body>
        <br /><br />
    <h2 class="page-header">Check Result </h2>
    <div>
        <form action="/teacher/result" method="post" >
             <div class="form-group" style="width:40% ">
                <label for="ID">Student ID*</label>
                <input type="text" class="form-control" name="sid" placeholder="Enter Your ID"/>
                 <label for="ID">Quiz Id*</label>
                <input type="text" class="form-control" name="qid" placeholder="Enter Your ID"/>

            </div>
            <input type="submit" value="enter" name="submit" /><br /><br />
        </form>
    </div>

</body>
</html>
