@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
</head>
<body>
    <div>
         <div>
        <div>
            <br />
            <br />
            <br />
        <h3>About/Contact Us</h3>
            </div>
        <div>
            <h3>Phone:</h3>
            <p>0323-8854308</p>
            <p>mubasharrasheed86@gmail.com</p>
        </div>
        <div>
            <h3>Contact ID:</h3>
            <p><a>bitf12m001@pucit.edu.pk</a></p>
            <p><a>teachercontact_992@gmail.com</a></p>

        </div>

    </div>
    </div>
</body>
</html>
