@{
    ViewBag.Title = "success";
    Layout = "~/Views/Shared/Student.cshtml";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/js/bootstrap.js"></script>
    <script src="~/js/bootstrap.min.js"></script>

   
</head>

    <body>
         <h2>U Have Attempted The Quiz :) Ur Result Id Is @ViewBag.res</h2>
</body>
</html>
